<%- include("../partials/header") %>

<div class="container mt-5">
    <ul class="list-group my-5">
        <% user.forEach(users => { %>
            <li class="list-group-item">
                <%= users.username %>
                <a href="/user/delete/<%= users._id %>" class="btn btn-danger btn-md">Delete</a>
            </li>
        <% }) %>
    </ul>
</div>

<%- include("../partials/footer") %>